QMenuBar {
        background-color: qlineargradient(
                x1:0, y1:0, x2:0, y2:1,
                stop:0 black, stop:1 #222222
        );
        color: red;
}

QMenuBar::item {
        padding: 1px 4px;
        background: transparent;
		color: red;
}

QMenuBar::item:selected {
        color: #00aa00;
}

QMenuBar::item:pressed {
        color: #00cc00;
}
